{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<h4>Cтатус: {% if is_not_authors %} Пользователь {% endif %} {% if is_authors %} Автор {% endif %}</h4>
<div> Персональная информация пользователя </div>
<div> Профиль: {{request.user.username}}</div>
<div> Электронная почта: {{request.user.email}}</div>

<button> <a href="sign/logout/">Выйти</a> </button>

{% if is_not_authors %}
<button><a href="/sign/upgrade_me/">Стать Автором</a></button>
{% endif %}

{% if is_authors %}
<button><a href="/sign/not_author/">Хочу стать пользователем!</a></button>
{% endif %}

{% endblock %}