{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h2>{% current_time '%b %d %Y' %}</h2>
    <div>{{posts_link | length}}</div>
    <hr>
    {% if posts_link %}
        {% for post in posts_link %}

            <h2>{{ post.title }}</h2>
            <div>
                {{ post.timeDateCreation }}
            </div>
            <div>
                {{ post.text|truncatewords:20|censor}}
                

            </div>
            <div>
                Автор: {{ post.author }}, Рейтинг: {{ post.postRating }}, Категория: 
                {% for cat in post.postcategory_set.all %}
                    {{ cat.category }}
                {% endfor %} Тип поста: {{ post.postType }} id:{{post.pk}}  
            </div>
                
        {% endfor %}

    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}